#about
    .reverse
        display: flex
        flex-direction: row-reverse
    .txt
        h1
            font-size: 50px
            font-weight: 700
            margin-top: 80px
        h2
            font-size: 20px
            margin: 20px
            color: #6c757d
    .textbox
        text-align: left
        width: 55%
        margin: 0 70px 0 30px
        h1,h2
            font-size: 24px
            font-weight: 700
        h2
            margin: 10px 0
        h3
            font-size: 22px
            line-height: 1.4
            color: #6c757d
    .txt-left
        width: 55%
        margin: 0 70px 0 30px
        text-align: left
    .imgbox
        max-width: 20%
        height: 50%
        border: 7px solid #8a898934
        border-radius: 50%
    .yellow-circle
        h1
            text-align: center
            background-color: #ffc800
            color: #fff
            font-weight: 700
            line-height: 1
            border: 7px solid #e7eaeafe
            border-radius: 50%
            font-size: 12px
            max-width: 193px
            padding: 9px

    @media screen and ( min-width: 576px )
        .reverse
            display: flex
            flex-direction: row-reverse
        .textbox
            text-align: left
            width: 450px
            h3
                margin: 0
        .txt-left
            text-align: left
            h3
                margin: 0
        .imgbox
            width: 195px
            margin-bottom: 200px
        .yellow-circle
            h1
                font-size: 13px
                width: 93px
                padding: 17px 21px
                margin-right: 300px

    @media screen and ( min-width: 768px )
        .reverse
            display: flex
            flex-direction: row-reverse
        .textbox
            text-align: left
            width: 600px
            h3
                margin: 0
        .txt-left
            text-align: left
            h3
                margin: 0
        .imgbox
            width: 195px
        .yellow-circle
            h1
                font-size: 18px
                width: 120px
                padding: 24px 21px
                margin-right: 415px

    @media screen and ( min-width: 992px )
        .reverse
            display: flex
            flex-direction: row
        .textbox
            text-align: right
            width: 55%
            margin: 0 70px 0 30px
            h1,h2
                font-size: 24px
                font-weight: 700
            h2
                margin: 10px 0
            h3
                font-size: 22px
                line-height: 1.4
                color: #6c757d
        .txt-left
            width: 55%
            margin: 0 70px 0 30px
            text-align: left
        .imgbox
            width: 120px
            margin-bottom: 310px
        .yellow-circle
            h1
                font-size: 13px
                width: 93px
                padding: 17px 21px
                margin-right: 300px
