footer
    padding: 10px 0
    .box
        h1
            margin: 20px
            font-size: 18px
            color: #212529
            cursor: pointer
        h2,h3
            margin: 20px 10px
            font-size: 18px
            color: #212529
            cursor: pointer
        ul
            display: flex
            justify-content: center
            li
                margin: 10px 15px 10px 10px
                background-color: #000
                color: #fff
                border-radius: 50%
                padding: 20px
                width: 10px
                height: 10px
                cursor: pointer
                font-size: 20px
            .icon
                margin: -8px
                i
                    cursor: pointer
    @media screen and ( max-width: 390px )
        .box
            display: flex
            flex-wrap: wrap
            h1
                margin: 20px 0 10px 50px
            h2,h3
                margin: 0 0 20px 40px
            ul
                margin-left: 60px