#services
    padding: 20px 0
    .textbox
        h1
            font-size: 50px
            font-weight: 700
            margin-top: 80px
        h2
            font-size: 20px
            margin: 20px 0 70px
            color: #6c757d
    .box
        text-align: center
        .icon
            border-radius: 80px
            width: 130px
            padding: 30px 0
            background-color: #ffc800
            color: #fff
            font-size: 65px
            margin: auto
        h1
            font-size: 30px
            font-weight: 700
            margin: 18px 0
        h3
            line-height: 1.4
            font-size: 20px
            color: #6c757d
            margin-bottom: 30px
