#welcome
    background-image: url("assets/Welcome/welcome.jpg")
    background-position: center
    background-size: cover
    padding: 100px 0
    .textbox
        color: #fff
        h3
            font-size: 30px
            margin: 20px 0 30px
        h1
            font-size: 70px
            font-weight: 700
            margin-bottom: 20px
        .btn
            padding: 20px 60px
            background-color: #dfbf0c
            h2
                color: #fff
                font-weight: 700
                font-size: 23px
            &:hover
                background-color: #d5a917f3

    @media screen and ( min-width: 576px )
        background-position: center
        background-size: cover
        .textbox
            h3
                font-size: 40px
            h1
                font-size: 90px
                margin: 20px 0 40px
            .btn
                padding: 15px 40px

    @media screen and ( min-width: 768px )
        padding: 100px 0
        .textbox
            padding: 160px 0
