body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  background-color: #212529;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 5px 0 18px;
}
header .menu .imgbox {
  width: 150px;
  margin-top: 18px;
}
header .menu .imgbox img {
  cursor: pointer;
}
header .menu nav ul {
  display: none;
}
header .menu .iconbox {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.1450980392);
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
header .menu .iconbox h1 {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 15px;
  margin-right: 10px;
}
header .menu .iconbox .icon {
  color: rgba(255, 255, 255, 0.5490196078);
  margin-right: 20px;
  cursor: pointer;
}
header .menu .iconbox:hover {
  border: 3px solid rgba(255, 255, 255, 0.568627451);
}
header .menu .iconbox:hover h1 {
  color: rgba(255, 255, 255, 0.568627451);
  cursor: pointer;
}
header .menu .iconbox:hover .icon {
  color: rgba(255, 255, 255, 0.568627451);
}
@media screen and (min-width: 992px) {
  header .menu .imgbox {
    width: 150px;
    margin-top: 15px;
  }
  header .menu nav {
    display: block;
    margin-top: 20px;
  }
  header .menu nav ul {
    display: flex;
  }
  header .menu nav a {
    font-size: 18px;
    color: #fff;
    margin: 20px 18px 50px;
  }
  header .menu nav a:hover {
    cursor: pointer;
    color: #dfbf0c;
  }
  header .menu .iconbox {
    display: none;
  }
}

#welcome {
  background-image: url("assets/Welcome/welcome.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}
#welcome .textbox {
  color: #fff;
}
#welcome .textbox h3 {
  font-size: 30px;
  margin: 20px 0 30px;
}
#welcome .textbox h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 35px;
}
#welcome .textbox .btn {
  padding: 20px 60px;
  background-color: #dfbf0c;
}
#welcome .textbox .btn h2 {
  color: #fff;
  font-weight: 700;
  font-size: 23px;
}
#welcome .textbox .btn:hover {
  background-color: rgba(213, 169, 23, 0.9529411765);
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  #welcome .textbox h3 {
    font-size: 25px;
  }
  #welcome .textbox h1 {
    font-size: 70px;
    margin: 20px 0 40px;
  }
  #welcome .textbox .btn {
    padding: 15px 40px;
  }
}
@media screen and (min-width: 768px) {
  #welcome .textbox {
    padding: 100px 0;
  }
  #welcome .textbox h3 {
    font-size: 40px;
  }
  #welcome .textbox h1 {
    font-size: 90px;
  }
}
@media screen and (min-width: 992px) {
  #welcome .textbox {
    padding: 140px 0;
  }
  #welcome .btn {
    background-color: #dfbf0c;
  }
  #welcome .btn:hover {
    background-color: rgba(213, 169, 23, 0.9529411765);
  }
}

#services {
  padding: 20px 0;
}
#services .textbox h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 80px;
}
#services .textbox h2 {
  font-size: 20px;
  margin: 20px 0 70px;
  color: #6c757d;
}
#services .box {
  text-align: center;
}
#services .box .icon {
  border-radius: 80px;
  width: 130px;
  padding: 30px 0;
  background-color: #ffc800;
  color: #fff;
  font-size: 65px;
  margin: auto;
}
#services .box h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 18px 0;
}
#services .box h3 {
  line-height: 1.4;
  font-size: 20px;
  color: #6c757d;
  margin-bottom: 30px;
}

#portfolio h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 30px;
}
#portfolio h3 {
  font-size: 20px;
  margin: 10px 0 60px;
  color: #8a8989;
}
#portfolio .box {
  text-align: center;
}
#portfolio .box h2 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 25px;
}
#portfolio .imgbox {
  position: relative;
}
#portfolio .imgbox .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  color: #fff;
  background-color: rgba(255, 200, 0, 0.9019607843);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.8s;
}
#portfolio .imgbox .overlay i {
  cursor: pointer;
}
#portfolio .imgbox .overlay:hover {
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}

#about .reverse {
  display: flex;
  flex-direction: row-reverse;
}
#about .txt h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 80px;
}
#about .txt h2 {
  font-size: 20px;
  margin: 20px;
  color: #6c757d;
}
#about .textbox {
  text-align: left;
  width: 76%;
}
#about .textbox h1, #about .textbox h2 {
  font-size: 30px;
  font-weight: 700;
}
#about .textbox h2 {
  margin: 10px 0;
}
#about .textbox h3 {
  font-size: 19px;
  line-height: 1.4;
  color: #6c757d;
}
#about .txt-right {
  width: 38%;
  margin-left: 30px;
  text-align: left;
}
#about .imgbox {
  max-width: 100px;
  height: 25%;
  border: 7px solid rgba(138, 137, 137, 0.2039215686);
  border-radius: 50%;
  margin-right: 20px;
}
#about .yellow-circle {
  background-color: #ffc800;
  width: 103px;
  border: 7px solid rgba(231, 234, 234, 0.9960784314);
  border-radius: 50%;
  padding: 19px 20px;
}
#about .yellow-circle h1 {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (min-width: 576px) {
  #about .textbox {
    text-align: left;
    width: 600px;
  }
  #about .textbox h3 {
    margin: 0;
  }
  #about .txt-right {
    text-align: left;
  }
  #about .txt-right h3 {
    margin: 0;
  }
  #about .imgbox {
    width: 195px;
    margin-right: 50px;
  }
  #about .yellow-circle {
    width: 111px;
    padding: 13px 20px;
    margin: 0;
  }
  #about .yellow-circle h1 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  #about .reverse {
    display: flex;
    flex-direction: row;
  }
  #about .textbox {
    text-align: right;
    max-width: 272px;
    margin-right: 25px;
  }
  #about .txt-left {
    text-align: left;
  }
  #about .imgbox {
    width: 85px;
    margin-right: 20px;
  }
  #about .yellow-circle {
    width: 86px;
    padding: 11px 7px;
    margin-right: 25px;
  }
  #about .yellow-circle h1 {
    font-size: 15px;
  }
  #about .edit {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  #about .textbox {
    text-align: right;
    max-width: 384px;
  }
  #about .txt-left {
    text-align: left;
  }
  #about .imgbox {
    width: 195px;
  }
  #about .yellow-circle {
    width: 105px;
    padding: 12px 18px;
  }
  #about .yellow-circle h1 {
    font-size: 19px;
  }
}
@media screen and (min-width: 1200px) {
  #about .textbox {
    text-align: right;
    max-width: 535px;
  }
  #about .txt-left {
    text-align: left;
  }
  #about .imgbox {
    max-width: 160px;
  }
  #about .yellow-circle {
    width: 159px;
    padding: 26px 18px;
  }
  #about .yellow-circle h1 {
    font-size: 28px;
  }
}

#team h1 {
  font-size: 55px;
  font-weight: 700;
  margin-top: 80px;
}
#team h2 {
  font-size: 20px;
  color: #6c757d;
  margin: 20px 0 60px;
}
#team .imgbox {
  width: 230px;
  border-radius: 50%;
  margin: auto;
  border: 8px solid rgba(138, 137, 137, 0.2039215686);
}
#team h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}
#team h4 {
  font-size: 18px;
  color: #6c757d;
  margin: 10px 0 20px;
}
#team ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#team ul li {
  margin: 0 15px 0 10px;
}
#team ul li .icon {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  padding: 13px;
  font-size: 18px;
  cursor: pointer;
}
#team ul li .icon i {
  cursor: pointer;
}
#team .textbox p {
  max-width: 810px;
  font-size: 20px;
  color: #6c757d;
  text-align: center;
}

#company {
  padding: 40px 0;
}
#company .imgbox {
  margin: 15px 0;
}
#company .microsoft {
  margin-top: 60px;
  max-width: 200px;
}
#company .google {
  max-width: 120px;
}
#company .facebook {
  max-width: 160px;
}
#company .ibm {
  max-width: 110px;
}
@media screen and (min-width: 576px) {
  #company .microsoft {
    margin-top: 20px;
  }
}

#contact {
  background-image: url("assets/Contact/map.png");
  background-color: #212529;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0;
}
#contact h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  margin: 70px 0 20px;
}
#contact h3 {
  font-size: 18px;
  color: #8d8d8d;
  margin-bottom: 60px;
}
#contact input {
  margin-bottom: 20px;
  padding: 20px 0 25px 20px;
  border-radius: 5px;
  font-size: 22px;
  color: #000;
}
#contact textarea {
  cursor: text;
  border-radius: 5px;
  width: 100%;
  font-size: 22px;
  color: #000;
  padding: 15px 0 0 25px;
}
#contact .btn {
  background-color: rgba(223, 191, 12, 0.968627451);
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  margin: 25px 0 60px;
  padding: 18px 50px;
  max-width: 250px;
}
#contact .btn:hover {
  background-color: rgba(213, 169, 23, 0.9529411765);
  cursor: pointer;
}

footer {
  padding: 10px 0;
}
footer h1, footer h2, footer h3 {
  font-size: 18px;
  color: #212529;
  cursor: pointer;
}
footer h1 {
  margin: 20px 0 10px 10px;
}
footer h2, footer h3 {
  display: inline-block;
  margin: 5px 0 20px 10px;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li {
  margin: 10px;
}
footer ul li .icon {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  padding: 13px;
  width: 41px;
  height: 42px;
  cursor: pointer;
  font-size: 18px;
}
footer ul li .icon i {
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  footer h2, footer h3 {
    margin: 0 0 20px 10px;
  }
}
@media screen and (min-width: 768px) {
  footer h2, footer h3 {
    margin: 20px 0 20px 10px;
  }
}
@media screen and (min-width: 992px) {
  footer h2, footer h3 {
    margin: 20px 0 20px 10px;
  }
}/*# sourceMappingURL=style.css.map */